@charset 'utf-8';
@import '../common';
$bg: url('../../images/common/bg2.jpg');
.forget-bg {
  z-index: -1;
  @include custom-width-height($full,
  $full);
  @include background-norepeat-cover;
  @extend .flex-top-column-bottom;
  background-image: $bg;
  flex-wrap: nowrap;
}

.forget-content {
  min-width: 500px;
  min-height: 520px;
  background-color: #efefef;
  border-radius: $border-radius;
  .forget-from {
    padding: 1em 4em;
  }
}

.center {
  @extend .flex-center
}

.topbar {
  background-color: #000000;
  border-radius: $border-radius $border-radius 0 0;
  height: 12px;
  @include custom-width-height(undefined,
  12px)
}

.forget-title {
  font-size: 1.5rem;
  color: #000000;
  margin: 38px 0;
  text-align: center;
}

.from-items {
  @extend .flex;
}

.from-items {
  label {
    @include custom-width-height(80px,
    38px);
    text-align: right;
    color: #666666;
    margin-right: 12px;
    @extend .flex-vertical-center;
    justify-content: flex-end;
  }
}

.from-item {
  @extend .flex;
  flex-direction: column;
}

.from-item input[type=text] {
  @include custom-width-height(400px,
  38px);
  padding: 11px 20px;
}

.from-item>div {
  width: 200px;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  >div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    >label {
      display: flex;
      justify-content: flex-start;
      margin-left: 5px;
    }
  }
}

.from-item span {
  color: #de2f00;
  margin: 20px 0;
}

.verification-code {
  @extend .flex;
  margin: 20px 0;
}

.verification-code {
  label {
    @include custom-width-height(80px,
    38px);
    text-align: right;
    color: #666666;
    margin-right: 12px;
    @extend .flex-vertical-center;
    justify-content: flex-end;
  }
}

.verification-code {
  input {
    @include custom-width-height(100px,
    38px);
  }
}

.forget-submit {
  background-color: #5aa700;
  @include custom-width-height(100px,
  38px);
  color: #fefefe;
}

.forget-prompt {
  max-width: 437px;
  color: #de2f00;
}