@charset 'utf-8';
@import '../common';
$bg: url('../../images/common/bg2.jpg');
.reset-bg {
  z-index: -1;
  @include custom-width-height($full,
  $full);
  @include background-norepeat-cover;
  @extend .flex-top-column-bottom;
  background-image: $bg;
  flex-wrap: nowrap;
}

.reset-content {
  min-width: 500px;
  min-height: 520px;
  background-color: #efefef;
  border-radius: $border-radius;
  .reset-from {
    padding: 0em 4em;
    padding-bottom: 2em;
  }
}

.center {
  @extend .flex-center
}

.topbar {
  background-color: #000000;
  border-radius: $border-radius $border-radius 0 0;
  height: 12px;
  @include custom-width-height(undefined,
  12px)
}

.reset-title {
  font-size: 1.5rem;
  color: #000000;
  margin: 1em 0;
  text-align: center;
}

.from-items {
  @extend .flex;
}

.from-items {
  label {
    @include custom-width-height(80px,
    38px);
    text-align: right;
    color: #666666;
    margin-right: 12px;
    @extend .flex-vertical-center;
    justify-content: flex-end;
  }
}

.from-item {
  @extend .flex;
  flex-direction: column;
}

.from-item input[type=text] {
  @include custom-width-height(400px,
  38px);
  padding: 11px 20px;
}

.from-item input[type=password] {
  @include custom-width-height(400px,
  38px);
  padding: 11px 20px;
}

.from-item span {
  color: #de2f00;
  margin: 20px 0;
}

.verification-code {
  @extend .flex;
  margin: 20px 0;
}

.verification-code {
  label {
    @include custom-width-height(80px,
    38px);
    text-align: right;
    color: #666666;
    margin-right: 12px;
    @extend .flex-vertical-center;
    justify-content: flex-end;
  }
}

.verification-code {
  input {
    @include custom-width-height(100px,
    38px);
  }
}

.reset-submit {
  background-color: #5aa700;
  @include custom-width-height(100px,
  38px);
  color: #fefefe;
}

.reset-prompt {
  max-width: 437px;
  color: #de2f00;
}

.reset-success-form {
  >div {
    width: 405px;
  }
}

.success-tip {
  @extend .flex-vertical-center;
  img {
    margin-right: 17px;
    @include custom-width-height(40px,
    40px)
  }
  span {
    color: #333333;
  }
}

.success-token {
  padding-left: 57px;
}

.success-token {
  >div:first-child {
    margin: 22px 0;
  }
}