@charset 'utf-8';
@import '../common';
$bg: url('../../images/common/bg.png');
.reset-bg {
    z-index: -1;
    @include custom-width-height($full,
    $full);
    @include background-norepeat-cover;
    @extend .flex-top-column-bottom;
    padding: 20px;
    background-image: $bg;
}

.reset-content {
    min-width: 500px;
    max-width: 1000px;
    @include custom-width-height(52%,
    600px);
    background-color: #efefef;
    border-radius: $border-radius;
}

.center {
    @extend .flex-center
}

.topbar {
    background-color: #000000;
    border-radius: $border-radius $border-radius 0 0;
    height: 12px;
    @include custom-width-height(undefined,
    12px)
}

.reset-title {
    font-size: 34px;
    color: #000000;
    margin: 38px 0;
    text-align: center;
}
.from-items {
    @extend .flex;
}

.from-items {
    label {
        @include custom-width-height(80px,
        38px);
        text-align: right;
        font-size: 16px;
        color: #666666;
        margin-right: 12px;
        @extend .flex-vertical-center;
        justify-content: flex-end;
    }
}

.from-item {
    @extend .flex;
    flex-direction: column;
}

.from-item input[type=text] {
    @include custom-width-height(400px,
    38px);
    padding: 11px 20px;
}
.from-item input[type=password] {
    @include custom-width-height(400px,
    38px);
    padding: 11px 20px;
}
.from-item span {
    font-size: 14px;
    color: #de2f00;
    margin: 20px 0;
}
.verification-code {
    @extend .flex;
    margin: 20px 0;
}

.verification-code {
    label {
        @include custom-width-height(80px,
        38px);
        text-align: right;
        font-size: 16px;
        color: #666666;
        margin-right: 12px;
        @extend .flex-vertical-center;
        justify-content: flex-end;
    }
}

.verification-code {
    input {
        @include custom-width-height(100px,
        38px);
    }
}
.reset-submit {
    background-color: #5aa700;
    @include custom-width-height(100px,
    38px);
    font-size: 16px;
    color: #fefefe;
}

.reset-prompt {
    max-width: 437px;
    font-size: 14px;
    color: #de2f00;
}
.reset-success-form {
    >div {
        width: 405px;
    }
}

.success-tip {
    @extend .flex-vertical-center;
    img {
        margin-right: 17px;
        @include custom-width-height(40px, 40px)
    }
    span {
        font-size: 20px;
        color: #333333;
    }
}

.success-token {
    padding-left: 57px;
}

.success-token {
    >div:first-child {
        margin: 22px 0;
    }
}
