.farmland {
  padding: 10px;
  height: 60px;
  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .select__control {
      width: 100px;
      height: 30px;
      min-height: 30px;
    }
    .button {
      color: #fff;
      margin-left: 10px;
      background-color: #009cd1;
      &:hover {
        background-color: #147494
      }
    }
    .input-group {
      display: flex;
      #farmLandName {
        width: 160px;
      }
    }
    .action {
      display: flex;
      .download {
        display: flex;
        align-items: center;
        margin-left: 10px;
        cursor: pointer;
        padding: 5px;
        background-color: #009cd1;
        border-radius: 5px;
        color: #fff;
        &:hover {
          background-color: #147494;
        }
        >img {
          margin-right: 5px;
          width: 20px;
        }
      }
    }
  }
}

.envir-and-fac {
  border: 1px solid #ccc; // margin: 20px;
  padding: 10px;
  .relative {
    position: relative;
    .title {
      position: absolute;
      top: -20px;
      background-color: #fff;
    }
  }
  .flex-left-right {
    flex-wrap: wrap;
    .item {
      flex-basis: 50%;
      .select2 {
        width: calc(100% - 120px);
      }
    }
  }
  .content {
    margin-top: 20px;
    .item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      label {
        width: 60px;
        text-align: right;
        margin-right: 20px;
      }
      .input-group {
        display: flex;
        align-items: center;
        label {
          width: auto;
          margin-left: 5px;
        }
      }
      .select1 {
        width: calc(100% - 100px);
        min-width: 150px;
      }
      .select1__control {
        height: 30px;
        min-height: 30px;
      }
      .select2__control {
        height: 30px;
        min-height: 30px;
      }
      .select {
        width: calc(100% - 120px);
      }
    }
    .fac {
      display: flex;
      label {
        align-self: flex-start;
      }
      .facs {
        width: calc(100% - 100px);
        display: flex;
        flex-wrap: wrap;
        .input-group {
          margin-bottom: 5px;
          label {
            width: 130px;
            text-align: left;
            align-self: center;
          }
        }
      }
    }
    .submit {
      display: flex; // justify-content: center;
      padding-left: 80px;
      .save,
      .edit,
      .no-edit {
        color: #fff;
        background-color: #009cd1;
        &:hover {
          background-color: #147494
        }
      }
      .save {
        margin-right: 10px;
      }
    }
  }
}