.plaintingSeason {
  padding: 10px; // width: 400px;
  .season-div {
    border: 1px solid #ccc; // margin: 20px;
    padding: 10px;
  }
  .relative {
    position: relative;
    .title {
      position: absolute;
      top: -20px;
      background-color: #fff;
    }
  }
  .content {
    margin-top: 20px;
    .timer {
      color: #349ff5;
      text-decoration: underline;
      font-size: 13px;
    }
    .button {
      color: #fff;
      padding: 5px 10px;
      border-radius: 5px;
      outline: none;
      cursor: pointer;
      margin-right: 20px;
      font-size: 13px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      .current {
        background-color: #ff6229;
        &:hover {
          background-color: #dc5929
        }
      }
      .set-current {
        background-color: #0b77f0;
        &:hover {
          background-color: #0065d6
        }
      }
      .delete {
        background-color: #e22a20;
        &:hover {
          background-color: #de0b00;
        }
      }
      td {
        border: 1px solid #cad9ea;
        padding: 5px 10px;
      }
    }
    .add {
      background-color: #0b77f0;
      &:hover {
        background-color: #0065d6
      }
      margin: 0;
      margin-top: 10px;
    }
  }
}