@charset 'utf-8';
@import '../common';
$bg: url('../../images/common/bg2.jpg');
.register-bg {
    z-index: -1;
    @include custom-width-height($full,
    $full);
    @include background-norepeat-cover;
    @extend .flex-top-column-bottom;
    padding: 20px;
    background-image: $bg;
}



.error {
    color: #ff0000;
}

.from-items {
    @extend .flex;
}

.from-items {
    label {
        @include custom-width-height(70px,
        38px);
        text-align: right;
        font-size: 16px;
        color: #666666;
        margin-right: 12px;
        @extend .flex-vertical-center;
        justify-content: flex-end;
    }
}

.from-item {
    @extend .flex;
    flex-direction: column;
}

.from-item input {
    @include custom-width-height(400px,
    38px);
    padding: 11px 20px;
}

.from-item span {
    font-size: 14px;
    color: #de2f00;
    margin: 20px 0;
}

.verification-code {
    @extend .flex;
    margin: 20px 0;
}

.verification-code {
    label {
        @include custom-width-height(70px,
        38px);
        text-align: right;
        font-size: 16px;
        color: #666666;
        margin-right: 12px;
        @extend .flex-vertical-center;
        justify-content: flex-end;
    }
}

.verification-code {
    input {
        @include custom-width-height(100px,
        38px);
        padding: 11px 20px;
    }
}

.verification-code {
    img {
        @include custom-width-height(110px,
        38px);
        margin: 0 13px 0 18px;
    }
}

.from-checkbox {
    input {
        @include custom-width-height(13px,
        13px);
    }
}

.from-checkbox {
    span {
        @include fontSize-default;
        color: #999999;
        margin-left: 10px;
    }
}

.from-checkbox {
    a {
        color: #e14500;
    }
}

.register-submit {
    background-color: #5aa700;
    @include custom-width-height(100px,
    38px);
    font-size: 16px;
    color: #fefefe;
}

.register-prompt {
    max-width: 437px;
    font-size: 14px;
    color: #de2f00;
}
input {
    box-shadow: none;
}