@charset 'utf-8';
@import '../common';
.map {
  width: 100%;
  .ol-attribution,
  .ol-zoom {
    display: none;
  }
  position: relative;
  .tools {
    z-index: 1;
    position: absolute;
    right: 20px;
    bottom: 120px;
  }
}