.popup {
    font-family: MicrosoftYaHei;
    > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .status {
           background-color: black;
           color: #bd0302;
           width: 1.2em;
           height: 1.2em;
           border-radius: .6em;
           display: flex;
           justify-content: center;
           align-items: center;
        }
        .username, .area {
            font-size: .5em
        }
        .username{
            margin-right: 20px;
        }
    }
}