@charset 'utf-8';
@import '../common';
$css_sprites: url('../../images/index/css_sprites.png');
.search {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    input {
        @include custom-width-height(380px,
        38px);
        padding: 11px;
        padding-right: 40px;
    }
    div {
        @include custom-width-height(17px,
        18px);
        background: $css_sprites -10px -119px;
        position: absolute;
        right: 15px;
        top: 10px;
        bottom: 10px;
    }
}