.abstract {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    table {
        width: 100%;
        td {
            &:first-child {
                width: 130px;
                text-align: right;
            }
        }
    }
   
    > div {
        display: flex;
        justify-content: flex-end;
    }
}