@charset 'utf-8';

.baner {
   position: absolute;
   z-index: 1;
   right: 0;
   bottom: 0;
//    width: 267px;
   background-color: #000000;
   font-size: 12px;
   color: #fff;
   padding: 2px 8px 2px 4px;
   display: flex;
   justify-content: space-between;
   a {
       color: #fff;
       text-decoration: none;
       margin-left: 10px;
   }
}
