.filed-message {
    display: block;
    // padding: 5px;
    // height: 350px;
    position: relative;
    width: 100%;
    .filed-title {
        background-color: #3478f5;
        height: 35px;
        // padding: 5px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        // border-radius: 5px 5px 0 0;
        color: #fff;
        // border: 1px solid #ededed;
        font-size: 1em;
        font-weight: normal;
    }
    .filed-closer {
        position: absolute;
        right: 10px;
        top: 6px;
        color: #fff;
        &::after {
            content: "✖";
        }
    }
    .filed-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 13px;
        form {
            width: 100%;
            .submit {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;
                button {
                    // background-color: #99cc66;
                    // color: #;
                    display: flex; // padding: 20px;
                    height: 30px;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 150px;
                    &:hover {
                        color: #000000;
                        background-color: #ebebeb;
                    }
                }
            
            }
        }
        .first, .next,  {
            width: 99%;
            // height: 250px;
            display: flex;
            margin: 10px 0;
            
            > div {
                width: calc(33.33% - 10px);
                min-width: 300px;
                padding: 10px 10px;
                background-color: #ddf5fd;
                margin: 0 5px;
                .hiden {
                    display: none;
                }
                .exact {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .exact-block {
                        label {
                            width: 65px;
                        }
                       
                    }
                    .exact-no-block {
                        height: 0;
                        margin: 0;
                    }
                    div {
                        display: flex;
                        height: 20px;
                        
                        align-items: center;
                        input {
                            margin-right: 5px;
                        }
                        span {
                            margin-right: 5px;
                        }
                    }
                    .exact-block {
                        width: 206px;
                    }
                    .hiden  {
                        height: 0;
                        margin: 0;
                     }
                }
                > div {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    > div {
                        margin: 5px 0;
                    }
                    label {
                        display: inline-block;
                        width: 137px;
                        text-align: right;
                        margin-right: 5px;
                    }
                    .soil, .weather, .terrain {
                        display: flex;
                        align-items: center;
                        input {
                            margin-right: 5px;
                        }
                        span {
                            margin-right: 5px;
                        }
                    }

                }
                .history {
                    display: flex;
                    // align-items: center;
                    width: 100%;
                    margin-bottom: 0;
                    div {
                        width: calc(100% - 142px);
                        display: flex;
                        flex-wrap: wrap;
                    }
                    input {
                        width: 60px;
                        margin-right: 6px;
                        margin-bottom: 10px;
                    }
                }
            }
            .second {
                label {
                    width: 65px;
                }
            }
        }
        .next {
            flex-direction: column;
            > div {
                width: 100%;
                background-color: #fff;
                display: flex;
                justify-content: space-around;
                &:last-child {
                      min-height: 250px;
                }
                > div {
                    display: initial;
                    // min-width: 
                    width: calc(33.33% - 10px);
                    label {
                        font-weight: 500;
                    }
                    > div {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        > div {
                            display: flex;
                        }
                    }
                }
            }
        }
       
    }
}
.Select {
   display: flex;
   align-items: center;
   .Select--multi {
       min-width: 125px;
   }
}