@charset 'utf-8';
@import 'common';
.planer {
    font-size: 14px;
    display: block !important;
    .plan-title {
        height: 30px;
    }
    .unit {
         margin-bottom: 5px;
         .active {
             color: blue;
         }
         .no-active {
             color: #c8c8c8;
         }
         label {
             margin-right: 5px;
         }
     }
    .content {
        padding: 10px;
       
        .table-add {
            button {
                // @include custom-width-height(30px, 30px);
               margin-right: 5px;
            }
            label {
                color: blue;
                font-size: 14px;
            }
        }
      
    }
   
    .plan-form {
        padding: 10px;
        @extend .flex-center;
        flex-direction: column;
         .plan-details {
             @extend .flex-center;
             height: 50px;
             width: 100%;
             background-color: #dedede;
             h4 {
                font-weight: normal;
             }
             margin-bottom: 5px;
         }
        .plan-message {
            >div {
                @extend .flex;
                margin-bottom: 5px;
                >label {
                    width: 140px;
                    text-align: right;
                    margin-right: 5px;
                }
                >div {
                    @extend .flex;
                    width: 250px;
                    >label {
                        width: 140px;
                        text-align: right;
                        margin-right: 5px;
                    }
                    >input {
                        width: 50px;
                        margin-right: 5px;
                    }
                }
            }
        }
        .plan-sub {
            width: 100%;
            @extend .flex;
            justify-content: space-between;
            margin: 5px 0;
        }
    }
}

.gridtable {
    width: 100%;
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    th,
    td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        text-align: center;
       
    }
    th {
        background-color: #dedede;
        width: 60px;
        
    }
    td {
        background-color: #ffffff;
        
    }
}
.fertilizer {
    th, td {
        &:nth-child(1) {
            min-width: 100px;
        }

        &:nth-child(2) {
            min-width: 150px;
        }
    }
}