@charset 'utf-8';
@import 'common';
.fill-form {
    .first {
        padding: 10px;
        >div {
            @extend .flex-left-right;
            margin: 10px;
            >div {
                min-width: 440px;
                height: 22px;
                @extend .flex;
                >label {
                    margin-right: 10px;
                    @extend .flex;
                }
                select {
                    width: 200px;
                }
                &:first-child {
                    margin-right: 20px;
                    label {
                        justify-content: flex-end;
                        width: 170px !important;
                    }
                }
                &:last-child {
                    label {
                        justify-content: flex-end;
                        width: 130px;
                    }
                }
                input[type='radio']+label {
                    margin-right: 10px;
                }
                >div:nth-child(1) {
                    input {
                        margin-right: 20px;
                    }
                }
            }
            .history {
                input {
                    width: 100px;
                    margin-right: 10px;
                }
            }
        }
        .exact {
            >div {
                min-width: 220px;
            }
            .exact-block {
                width: 246px;
                label {
                    width: auto;
                }
            }
        }
        .soil {
            display: block;
        }
    }
    .submit {
        @extend .flex-center;
    }
}