@charset 'utf-8';
@import 'common';
@import '~antd/dist/antd.css';
$fontFamily: MicrosoftYaHei;
:root {
  font-size: 0.75rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontFamily;
  flex-shrink: 0;
}

button,
input[type=submit] {
  border: none;
}

input {
  border: 1px solid hsl(0, 0%, 80%);
}

img {
  user-select: none !important;
}

input {
  box-shadow: none;
}

body {
  font-size: 12px;
  font-size: 1em;
}

html,
body {
  @include fullHeight;
  #root {
    @include fullHeight;
    >div {
      @include fullHeight;
      >div:first-child {
        @include fullHeight;
      }
    }
    .map {
      @include fullHeight;
      min-height: 400px;
    }
  }
}

a {
  text-decoration: none !important;
}

.test {
  display: flex;
}

#target {
  position: relative;
  >div {
    position: absolute;
    background-color: #757171;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      transition: all 0.6s;
    }
    &:hover {
      img {
        transform: scale(1.1);
        animation-name: magnify;
        animation-duration: 0.6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
      }
      div {
        display: block;
        text-shadow: 0 1px #000, 1px 0 #000, -1px 0 #000, 0 -1px #000;
      }
    }
  }
}

@keyframes opacity {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes magnify {
  0% {
    -webkit-box-shadow: 0 0 8px rgba(72, 106, 170, 0.5);
    border-color: rgba(160, 179, 214, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 8px rgba(72, 106, 170, 1.0), 0 0 12px rgba(0, 140, 255, 1.0);
    border-color: rgba(160, 179, 214, 1.0);
  }
}

@-webkit-keyframes magnify
/* Safari 与 Chrome */

  {
  0% {
    -webkit-box-shadow: 0 0 8px rgba(72, 106, 170, 0.5);
    border-color: rgba(160, 179, 214, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 8px rgba(72, 106, 170, 1.0), 0 0 12px rgba(0, 140, 255, 1.0);
    border-color: rgba(160, 179, 214, 1.0);
  }
}

.ppfix {
  margin: 0;
  vertical-align: top;
  display: inline-block;
  font-family: "Pontano Sans";
  color: #343434;
  min-width: 150px;
  height: 12px;
  background: #fbfbfb;
  border: 1px solid #cccdcf;
  padding: 3px 10px;
  box-shadow: inset 0 2px 3px #e8e8e8;
  box-sizing: content-box;
}

.post {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
}

.alt {
  position: absolute;
  color: white;
  width: 65px;
  text-align: center;
}

.hiden {
  display: none;
}
.ant-btn, .ant-table {
  font-size: 0.75rem;
}
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.filter {
  input {
    width: 100%;
    height: 38px;
    padding: 10px;
  }
}

.featureLi {
  padding: 10px 8px;
  border-bottom: 1px solid #ddd; // list-style: circle inside !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .drag {
    display: flex;
    align-items: center;
    flex-grow: 1;
    span {
      width: 0px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex-grow: 1;
      margin-left: 10px;
    }
  }
  >img {
    width: 12px;
  }
  &:hover {
    background-color: #cbdde2;
  }
}

.react-select__control {
  // padding: 0;
  height: 30px;
  min-height: 30px !important;
  .react-select__value-container {
    padding: 0 8px;
  }
}

.react-select__indicators {
  height: 30px;
  >div {
    height: 30px;
  }
  .react-select__indicator {
    // padding: 0 8px;
    align-items: center;
  }
  .react-select__dropdown-indicator {
    padding: 6px;
  }
}

.gu-mirro {
  cursor: all-scroll;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}